*::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #d6dbd8;
}

header {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

#scores {
    display: inline-block;
    text-align: left;
    width: 50vw;
}

#countdown {
    display: inline-block;
    text-align: right;
    width: 48%;
}



.master-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 50vw;
    width: 100vw; 
}

.container{
    width: 800px;
    max-width: 40%;
    background-color: white;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 0 9px 3px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 8px;
    margin: 24px 0;
}

.btn {
    background-color: #1bbedb;
    font-size: 12px;
    border-radius: 4px;
    padding: 4px 8px;
}

.btn:hover {
    background-color: #2e7683;
    color: white;
    
}

.start-btn {
    font-size: 24px;
}

.controller {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

/* .header {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
} */